<div class="jumbotron">
<h1>Allergy Scorer</h1>
#if($scoreInt < 292)
  <h2>For your Allergy score of: $score</h2>
  <h3>you are allergic to: $finalString</h3>
#else
  <h2>you have entered an incorrect value</h2>
#end
</div>
