<h1>Allergy Scorer</h1>

<p>Enter a score for your allergies</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="type" class="control-label">Score:</label>
    <input class="form-control" id="score" name="score" type="text">
  </div>

  <button type="submit" class="btn btn-info btn-lg">Count!</button>
</form>
